[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
django = "*"
django-encrypted-model-fields = "*"


[dev-packages]



[requires]

python_version = "3.6"
